<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<form id="register_form" method="post" th:action="@{/user/join}">
    <p th:text="${msg}"></p>
    <h1>회원가입</h1>
    <div>
        <label for="userId">UserId</label>
        <input id="userId" name="userId" placeholder="아이디" type="text">
        <button onclick="userIdCheck()" type="button">중복체크</button>
    </div>
    <div>
        <label for="pwd">Password</label>
        <input id="pwd" name="pwd" placeholder="비밀번호 입력하세요." type="password">
    </div>
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" placeholder="이름을 입력하세요." type="text">
    </div>

    <hr>

    <div>
        <div>
            <button onclick="joinBtn()" type="button">저장</button>
        </div>
        <div>
            <button th:onclick="|location.href='@{/user/login}'|"
                    type="button">취소
            </button>
        </div>
    </div>
</form>
</body>
<script>
    let 아이디중복체크여부 = false;

    function userIdCheck() {
        const userId = document.getElementById('userId').value.trim();
        if (userId == '') {
            alert("아이디를 입력해주세요.");
        } else {
            axios.get("/user/check", {
                params: {userId: userId}
            }).then(response => {
                if (response.data) {
                    alert('사용가능한 아이디입니다.');
                } else {
                    alert('사용불가능');
                }
                아이디중복체크여부 = response.data;
            }).catch(error => {
                console.err(error);
                아이디중복체크여부 = false;
            });
        }
    }

    function joinBtn() {
        const userId = document.getElementById('userId').value.trim();
        const pwd = document.getElementById('pwd').value.trim();
        const name = document.getElementById('name').value.trim();
        if (userId != '' && pwd != '' && name != '') {
            if (아이디중복체크여부) {
                document.getElementById('register_form').submit();
            }
        }
    };
</script>
</html>